@use "../../styles/globalVariables.scss" as *;

.button {
  margin: 20px 5px;
  /* display: block; */
  width: 150px;
  height: 50px;
  font-size: 14px;
  /*background-color: rgb(34, 137, 155);*/
  background: transparent;
  border: $purple solid 2px;
  font-family: "suisse", "arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $purple;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_type_voc {
  margin: 5px;
  width: 50px;
  height: 30px;
}
.button_state_active {
  background-color: $purple;
  color: $white;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  color: rgb(88, 154, 165);
}
