@use "../../styles/globalVariables.scss" as *;

.page {
  position: relative;
  background-color: $white;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  &_correct {
    background-color: $success-light;
  }
}
