.cards-container {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 620px;
  gap: 20px;
  &_one-row {
    grid-template-rows: 1fr;
  }
}
