.footer {
  background-color: #475278;
  background-image: url(../../img/vladivostok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (max-height: 800px) {
  .footer {
    height: 0;
  }
}
