@use "../../styles/globalVariables.scss" as *;

.footer {
  background-color: $purple;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (max-height: 800px) {
  .footer {
    height: 0;
  }
}
