@use "../../styles/globalVariables.scss" as *;

.footer {
  width: 800px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  background-color: $purple;
  background-size: cover;
  bottom: -400px;
  right: -100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 100px;
  padding-left: 100px;
  @media screen and (max-width: $breakpointDesktop) {
    bottom: -500px;
  }
  @media screen and (max-width: $breakpointDesktopSmall) {
  }
}
