@use "../../styles/globalVariables.scss" as *;

.card {
  background-color: $mid-gray;
  width: calc(50% - 30px);
  height: 200px;
  padding: 30px;
  display: flex;
  border-radius: 16px;
  font-family: "suisse", "arial", sans-serif;
  font-size: 40px;
  color: $purple;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
}
.card_text_s {
  font-size: 30px;
}
.card_state_correct {
  border: 10px solid $success;
  color: $success;
}
.card_state_incorrect {
  border: 10px solid $failure;
  color: $failure;
}
.card_type_button {
  cursor: pointer;
}

.card_type_button:hover {
  background-color: $light-gray;
}
