@use "../../styles/globalVariables.scss" as *;

.card {
  background-color: $mid-gray;
  width: 100%;
  padding: 30px;
  display: flex;
  border-radius: 16px;
  font-family: "suisse", "arial", sans-serif;
  font-size: 40px;
  color: $purple;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
  max-height: 300px;
  &_text_s {
    font-size: 30px;
  }
  &_state_correct {
    border: 10px solid $success;
    color: $success;
  }
  &_state_incorrect {
    border: 10px solid $failure;
    color: $failure;
  }
  &_type_button {
    cursor: pointer;
  }

  &_type_button:hover {
    background-color: $light-gray;
  }
}
