@use "../../styles/globalVariables.scss" as *;

.button {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: $mid-gray;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  bottom: 250px;
  &:hover {
    opacity: 90%;
    cursor: pointer;
  }
  &__img {
    transform: scale(5);
  }
  &_neutral {
    background-color: $purple;
  }
  &_success {
    background-color: $success;
  }
  &_fail {
    background-color: $failure;
  }
  @media screen and (max-width: $breakpointDesktopLarge) {
    bottom: 150px;
  }
  @media screen and (max-width: $breakpointDesktopSmall) {
    bottom: 90px;
    transform: scale(0.75);
  }
  @media screen and (max-width: $breakpointMobile) {
    transform: scale(0.5);
    right: 5px;
  }
}
