@use "../../styles/globalVariables.scss" as *;

.card {
  background-color: $mid-gray;
  width: 100%;
  height: 260px;
  padding: 30px;
  display: flex;
  border-radius: 16px;
  font-family: "suisse", "arial", sans-serif;
  font-size: 40px;
  color: $purple;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  border: none;
}
.card_state_correct {
  border: 10px solid $success;
  color: $success;
}
.card_state_incorrect {
  border: 5px solid $failure;
  color: $failure;
}
