@use "../../styles/globalVariables.scss" as *;

.header {
  position: static;

  &__title {
    font-family: "Pacifico";
    color: $white;
    font-size: 40px;
  }
  &__round {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    background-color: $purple;
    background-size: cover;
    top: -400px;
    left: -200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    padding-left: 100px;
    @media (max-width: $breakpointDesktopSmall) {
      width: 500px;
      height: 500px;
      top: -450px;
      left: -300px;
    }
  }
  &__menuBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 4;
  }
  &__btnImage {
    transition: transform 0.3s linear;
  }
  &BtnImageActivated {
    transform: rotate(90deg);
  }
}
