@use "../../styles/globalVariables.scss" as *;

.header {
  position: absolute;
  background-color: $purple;
  background-size: cover;
  width: 100%;
}
@media (max-height: 800px) {
  .header {
    height: 0;
  }
}
