.content {
  padding: 50px 200px 250px;
  height: 100%;
  font-weight: bold;
  color: rgb(197, 227, 230);
  display: grid;
  grid-template-rows: 200px 1fr;
  gap: 30px;
  justify-items: center;
}

@media (max-height: 800px) {
  .content {
    height: 100vh;
  }
}
