@use "../../styles/globalVariables.scss" as *;

.content {
  padding: 50px 200px 250px;
  height: 100%;
  font-weight: bold;
  color: rgb(197, 227, 230);
  display: grid;
  grid-template-rows: 150px 1fr;
  gap: 30px;
  justify-items: center;
  @media screen and (max-width: $breakpointDesktopLarge) {
    padding: 50px 100px 250px;
  }
  @media screen and (max-width: $breakpointDesktop) {
    grid-template-rows: 150px 1fr;
    justify-items: end;
  }
  @media screen and (max-width: $breakpointDesktopSmall) {
    padding: 50px 70px 150px;
  }
  @media screen and (max-width: $breakpointTablet) {
    grid-template-rows: 100px 1fr;
    padding: 50px 50px 100px;
    gap: 20px;
  }
  @media screen and (max-width: $breakpointMobile) {
    padding: 70px 20px 100px;
  }
  @media screen and (max-width: $breakpointMobileSmall) {
    padding: 70px 20px 100px;
    grid-template-rows: 70px 1fr;
    gap: 10px;
  }
}
