.content {
  padding: 50px 200px 200px;
  height: 100%;

  font-weight: bold;
  color: rgb(197, 227, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content__cards-container {
  width: 100%;
  display: flex;
  gap: 30px;
}
@media (max-height: 800px) {
  .content {
    height: 100vh;
  }
}
